<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>programButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F432F0351E6EC92300EB33E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F432F04E1E6EC92400EB33E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F432F0591E6EC92400EB33E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
